{% extends 'base.html.twig'%}

{% block title article.titre %}

{% block head %}
    <!-- Site Metas -->
    <meta name="description" content="miel bio de production artisanale depuis 1970 au sud de la France">
{% endblock %}

{% block body %}

    <section id="fiche-article">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
                    <div class="message-box">
                        <h1>{{article.titre}}</h1>
                        <p class="lead">{{article.contenu}}</p>
						<img src="{{asset('images/miel.png')}}" alt="miel bio">
                        <p class="maj-date"> {% trans %}écrit le{% endtrans %} {{ article.date|date('Y-m-d') }} {% trans %}par{% endtrans %} {{article.auteur}}</p>
                    </div><!-- end messagebox -->
				</div>
			</div>
		</div>
	</section>
    
{% endblock %}