{% extends 'base.html.twig'%}

{% block title 'Gérer la boutique '%}

{% block body %}

{% if app.user.admin is defined and app.user.admin %}

        <section id="fiche-produit">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="liste-title">
                            <h1>{% trans %}Gestion de la boutique{% endtrans %} </h1>
                        </div>

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{message}}
                            </div>
                        {% endfor %}
                        
                        <table class="table table-striped">
                            <tbody>
                                {% for prop in produits %}
                                    <tr>
                                        <td> {{prop.nomProduit }} </td>

                                        <td>
                                            <a href="{{ path('admin.produit.edit', {id: prop.idProduit}) }}" class="btn btn-secondary"> Editer </a> 
                                            <form method="post" action="{{ path('admin.produit.delete', {id: prop.idProduit}) }}" 
                                                style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de supprimer ?')">
                                                <input type="hidden" name="_method" value="DELETE"/>
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete') }}"/>
                                                <button class="btn btn-danger"> Supprimer</button>
                                            </form>
                                        </td>        
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                        <div class="text-right">
                            <a href="{{ path('admin.produit.new') }}" class=" bouton_ajout btn btn-primary"> {% trans %} + Ajouter un produit {% endtrans %} </a>
                        </div>

                    </div>
                </div>
            </div>            
        </section>

{% else %}
    <div class="container mt-4">
        <h1>{% trans %}Vous n'avez pas les droits pour accèder à cette page{% endtrans %} !</h1>
    </div>
{% endif %}

{% endblock %}