{% extends 'base.html.twig'%}

{% block title produit.nomProduit %}

{% block body %}
    <body>
        <section id="fiche-produit">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<a href="#"><img class="img-fluid" src="{{asset('images/miel.png')}}"/></a>
				</div>
				
				<div class="col-md-6">
					<div class="titles">
						<h2>{{produit.nomProduit}}</h2>
					</div>
					<div class="col-md-offset-1">
						<div class="panel post-panel">
							<p> {% trans %}Description du produit{% endtrans %} : </p>
							<p> {{produit.description}} </p>
                            <p> {% trans %}Quantité{% endtrans %}: {{produit.quantite}} mL </p>            
                        </div>

						<div class="panel post-panel">
							<h2> {% trans %}Prix{% endtrans %} :  {{produit.prix}} €</h2>
							<button type="button" class="btn btn-primary btn-lg active">{% trans %}Acheter{% endtrans %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}